*{
    inset: 0;
    margin: 0;
    padding: 0;


    --theme-primary: #000000;
    --theme-secondary: #0044ff;
    --theme-accent: #ff0000;
    --theme-surface: #000000;

    --theme-primary-contant: #5A0001;
    --theme-secoundary-content: #5A0001;
    --theme-accent-content: #F64740;
    --theme-surface-content: #ffffff;

    color: var(--theme-surface-content);
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.pfp {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 200px;
    aspect-ratio: 1;
    border-radius: 1em;
    overflow: hidden;
}

.pfp img {
    height: 100%;
}


body {
    background: var(--theme-surface);
}


.bg-primary{
    background: var(--theme-primary);
}

.bg-secoundary{
    background: var(--theme-secondary);
}

.bg-accent{
    background: var(--theme-accent);
}

.bg-surface{
    background: var(--theme-surface);
}

.bg-primary-content{
    background: var(--theme-secondary);
}

.bg-secoundary-content{
    background: var(--theme-secondary);
}

.bg-accent-content{
    background: var(--theme-secondary);
}

.bg-surface-content{
    background: var(--theme-secondary);
}


.bg-primary{
    background: var(--theme-secondary);
}

.bg-secoundary{
    background: var(--theme-secondary);
}

.bg-accent{
    background: var(--theme-secondary);
}

.bg-surface{
    background: var(--theme-surface)
}

.w-dvw {
    width: 100dvw;
}

.h-dvh {
    height: 100dvh;
}